<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/admin/admin_update" method="post" class="card">

    <!-- <h1 class="login"><b>Register</b></h1>
    <div class="details">
        <label for="fn">Enter your First name:</label>
        <input type="text" name="fn" value="{{ id_list["first_name"] }}"><br>
        <label for="mn">Enter your middle name:</label><br/>
        <input type="text" name="mn" value="{{ id_list["middle_name"] }}"><br>
        <label for="ln">Enter your last name:</label><br/>
        <input type="text" name="ln" value="{{ id_list["last_name"] }}"><br>
        <label for="mn">Enter your date of birth:</label><br/>
        <input type="date" name="dob" class="username"><br/>
        <label for="pas ">Password:</label><br/>
        <input type="text" class="username" name="pas" required placeholder="Enter password"><br/><br/>
      <!-- <p class="forgot"><font size="2">Forgot password?<font></p> -->
        <button type="submit" name="submit" class="submit" value="Submit">Submit</button>
    </div> -->

    <input type="text" name="fn" value="{{ id_list["first_name"] }}"><br><br>

    <input type="text" name="mn" value="{{ id_list["middle_name"] }}"><br><br>

    <input type="text" name="ln" value="{{ id_list["last_name"] }}"><br><br>

    <input type="text" name="un" value="{{ id_list["user_name"] }}"><br><br>

    Please re-enter your date of birth<br>
    <input type="date" name="dob" placeholder="{{ id_list["date_of_birth"] }}"><br><br>

    <input type="password" name="pas" value="{{ id_list["password"] }}"><br>

     {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
                    <p style="color: darkred">{{ message }}</p>
               {% endfor %}
         {% endif %}
      {% endwith %}
    <br>

    <input type="submit" value="Update">

</form>

<br><br>

<button><a href="/admin/admin_delete">Delete your admin account</a></button><br><br>

<br><a href="/admin/admin_load_homepage">Back to Admin-Homepage</a>

</body>
</html>