<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table,tr,td
        {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<form action="/admin/police_station_add" method="post">

    <input type="text" name="ps_name" placeholder="Enter name of the Police Station:"><br><br>

    <input type="text" name="lane_1" placeholder="Enter Address line 1"><br><br>

    <input type="text" name="lane_2" placeholder="Enter Address line 2"><br><br>

    <input type="text" name="district" placeholder="Enter District"><br><br>

    <input type="text" name="state" placeholder="Enter State"><br><br>

    <input type="submit">

</form>

{% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
                    <p style="color: darkred">{{ message }}</p>
               {% endfor %}
         {% endif %}
{% endwith %}

<br><br><br>

<table>
    <tr>
        <td>police_station_name</td>
        <td>address_line_1</td>
        <td>address_line_2</td>
        <td>district</td>
        <td>state</td>
        <td colspan="Action">Action</td>
    </tr>

    {% for i in ps_list %}
    <tr>
        <td>{{ i['police_station_name'] }}</td>
        <td>{{ i['lane_1'] }}</td>
        <td>{{ i['lane_2'] }}</td>
        <td>{{ i['district'] }}</td>
        <td>{{ i['state'] }}</td>
        <td><a href="/admin/police_station_delete?id={{ i['police_station_id'] }}">Delete</a></td>
        <td><a href="/admin/police_station_edit?id={{ i['police_station_id'] }}">Edit</a></td>
    </tr>
    {% endfor %}
</table>

<br><br>


<br><a href="/admin/admin_load_homepage">Back to Admin-Homepage</a>


</body>
</html>